# Virtual Environments (Excluded)
SOFTWARE/yolov5_env/
env/
venv/
.venv/

# Dataset & Generated Output Results (Excluded)
SOFTWARE/DATASET/
SOFTWARE/RESULTS/

# Media / Raw Videos (Excluded)
*.mp4
*.avi
*.mov

# Python Bytecode & Caches (Excluded)
*.py[cod]
*$py.class

# IDE & OS Junk (Excluded)
.vscode/
.idea/
.DS_Store
Thumbs.db
